[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aio-pika = "*"
pika = "*"
pymongo = "*"
pyodbc = "*"
aiohttp = "*"
cryptography = "*"
certifi = "*"

[dev-packages]
pytest = ">=8.0"

[requires]
python_version = "3.13"
